<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HojaResumen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/MDB/css/addons/datatables.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/examplec.css" />
    <link rel="stylesheet" href="~/css/tablap.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/MDB/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/lib/MDB/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/lib/MDB/css/style.css" rel="stylesheet">
    <link href="~/css/toaster.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">

 </head>

<body>

    <header>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>


    <footer class="border-top page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            &copy; 2020 Copyright - <a asp-area="" asp-controller="Home" asp-action="Privacy">Baxter</a>
        </div>
        <!-- Copyright -->

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="~/AngularJSApp/AutoClaveA/Module.js" asp-append-version="true"></script>
    <script src="~/AngularJSApp/AutoClaveA/Controller.js" asp-append-version="true"></script>
    <script src="~/AngularJSApp/AutoClaveA/Service.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
