@model IEnumerable<WebResumen.Models.CiclosAutoclaves>

@{
    ViewData["Title"] = "Confirmación de Impresion";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<tbody>

    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor httpContextAccessor
    <h1>@httpContextAccessor.HttpContext.Session.GetString("SessionDatosB")</h1>


    <a type="button" class="btn btn-info" asp-action="Print" asp-route-id="@httpContextAccessor.HttpContext.Session.GetString("SessionDatosB")">Imprimir</a>


</tbody>

