@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@*<p>Use this page to detail your site's privacy policy.</p>*@
<div class="wrapper">
</div>
<section>
    <div class="wrapper">
        <div class="wysiwyg">
            <h2>Política de Privacidad Baxter España</h2>

            <p><strong>Fecha de entrada en vigor: 26 de Noviembre de 2018</strong></p>

            <p>Baxter <strong>Baxter, S.L.</strong> se compromete a proteger y respetar su privacidad. Esta Declaración de Privacidad de la Página web (“Declaración de Privacidad”) tiene como fin darle a conocer qué información recopilaremos sobre usted y cómo utilizaremos esa información, e incluye información en cuanto a los mecanismos adecuados de transferencia de datos a otros países, que incluyen el Escudo de privacidad de UE-EE. UU. y Suiza-EE. UU. Por favor, lea el siguiente texto atentamente para entender nuestras prácticas en relación a su Información Personal y cómo se tratará.</p>

            <h2>Ámbito de aplicación de esta Declaración de Privacidad de la página web</h2>

            <p>Esta Declaración de Privacidad se aplica a las páginas web de Baxter o de las filiales de Baxter que enlacen a esta Declaración de Privacidad cuando hace clic en el enlace “Privacidad en Baxter” al final de una página, así como en las aplicaciones móviles u otros servicios digitales que enlacen o envíen a esta Declaración de Privacidad (“sitios de Baxter”). Baxter o sus filiales podrían gestionar sitios web que traten su Información Personal de forma diferente a los términos de esta Declaración de Privacidad. Estos sitios web publicarán un Aviso de privacidad adaptado a las prácticas de privacidad de datos de ese sitio web en particular. Cuando utilice una página web de Baxter, le animamos a revisar los términos del aviso de privacidad que se publiquen en ese sitio.</p>

            <h2>¿Qué es la Información Personal?</h2>

            <p>La información personal es cualquier tipo de información relacionada con una persona identificada o identificable. Ejemplos de información personal incluyen su nombre, un número de identificación, datos de localización, un identificador en línea o uno o más factores específicos de su identidad física, fisiológica, genética, mental, económica, cultural o social.</p>

            <h2>Qué información personal recopilamos</h2>

            <p>Podríamos recopilar su información personal en la web de Baxter de la siguiente forma:</p>

            <ul>
                <li>Información de contacto. Puede incluir su nombre, dirección del domicilio y otras direcciones físicas, correo electrónico, número de teléfono, número de fax, nombre de la organización y/o puesto de trabajo cuando envíe un formulario de contacto, formularios de respuesta o una solicitud de empleo en línea.</li>
                <li>Información recopilada mediante su uso de la web de Baxter. Esta puede incluir el nombre, dirección de correo electrónico, identificador personal único, número de teléfono, otros identificadores únicos e información preferente como su nombre de usuario, contraseña, preferencias comerciales, dirección de protocolo de internet (“IP”) o cookies, que pueden contener información considerada información personal, así como información que no le identifique directamente, pero que corresponda a su dispositivo, tipo de buscador, sistema operativo, ordenador o dispositivo móvil, su navegación y comportamiento de clics a partir de las acciones que realiza en nuestra página web. (Consulte la sección Tecnologías de rastreo que utilizamos).</li>
            </ul><h2>Cómo usamos su información personal</h2>

            <p>Dependiendo del modo en que elija interactuar con nosotros en nuestra página web, podremos utilizar su información personal para los siguientes objetivos:</p>

            <ul>
                <li>
                    Utilizamos la información de contacto que decide ofrecernos con el fin de poder comunicarnos con usted para responder a sus consultas, lo que incluye ofrecerle nuestras novedades de productos y servicios. También podríamos utilizar su información de contacto o la información que nos facilite en los formularios de respuesta para ofrecerle información sobre los productos, servicios y programas de Baxter u otras comunicaciones comerciales o publicitarias, o para permitirle participar en encuestas o cuestionarios. Parte de esta información la recopilaremos y utilizaremos con su consentimiento y parte de esta información que la recopilaremos y usaremos para nuestros propósitos comerciales legítimos de comunicarnos con usted y ofrecerle información sobre nuestros asuntos comerciales. Facilitarnos su información personal es voluntario. Siempre puede rechazar facilitarnos su información personal. Si decide no facilitárnosla, no podremos comunicarnos con usted y ofrecerle cierta información, productos o servicios. Si recopilamos información suya con su consentimiento, siempre puede retirar su consentimiento simplemente siguiendo las instrucciones que se le proporcionan para hacerlo cuando facilita su consentimiento o poniéndose en contacto con nosotros mediante la información de contacto que aparece al final de esta Declaración de Privacidad.<br /><br />
                    Utilizamos la información que recopilamos mediante su uso de la web de Baxter para nuestros intereses legítimos de administrar, operar, mantener y asegurar nuestros sitios web, sistemas de redes y otros bienes, y para ofrecerle las características y diversas funcionalidades de la web de Baxter. También podríamos agregar la información personal que recopilamos a través de su uso de la web para ayudarnos a comprender los intereses de nuestros visitantes y mejorar el contenido y funcionamiento de nuestros sitios web de Baxter.
                </li>
                <li>
                    También podríamos utilizar su información personal para el tratamiento, para garantizar altos estándares de calidad y seguridad de la atención sanitaria, nuestros productos sanitarios o dispositivos médicos. También podríamos utilizar la información personal para cumplir con nuestras obligaciones legales o reguladoras, que incluyen cumplir con las obligaciones de conservación vigentes y de la siguiente forma:
                    <ul>
                        <li>con fines de notificación de acontecimientos adversos, materiovigilancia, farmacovigilancia, seguridad del producto y otras obligaciones de notificación;</li>
                        <li>en respuesta a los requerimientos legales de las autoridades públicas, lo que incluye satisfacer los requisitos de seguridad nacional o de aplicación de la ley, por ejemplo, investigar fraudes o responder a una solicitud gubernamental;</li>
                        <li>para investigar posibles violaciones, o proteger nuestros derechos, propiedad o seguridad o los de los usuarios de nuestras páginas web de Baxter o de otros.</li>
                    </ul>
                </li>
                <li>Si la ley lo permite, también podríamos ampliar o combinar información sobre usted, incluida su información personal, con información sobre usted que obtengamos de terceros para los mismos fines descritos antes. Su información personal también podría usarse para crear un perfil con los mismos propósitos descritos anteriormente. Puede oponerse a la creación de un perfil a través de una toma de decisiones automática poniéndose en contacto con nosotros en <strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5525273c2334362c1537342d2130277b363a38">[email&#160;protected]</a></strong> o utilizando la información de contacto que aparece al final de esta Declaración de Privacidad.</li>
            </ul><p>Le indicaremos si ofrecer cierta información es voluntario y usted podrá retirar su consentimiento o ejercer sus derechos en relación con esta información en cualquier momento tal y como lo permita o exija la ley vigente.</p>

            <p>En caso de que utilicemos su información personal para otros propósitos no especificados anteriormente, le informaremos sobre los propósitos específicos para procesar su información personal y, cuando sea necesario, nuestro motivo para hacerlo en el momento en el que recopilemos la información personal sobre usted en la medida en que lo exija la ley.</p>

            <h2>Cómo compartimos la información personal recopilada</h2>

            <h3>Compartir con las filiales y subsidiarias de Baxter</h3>

            <p>Baxter es una empresa mundial y comparte Información Personal con sus filiales y subsidiarias para los propósitos descritos en esta Declaración de Privacidad. Para obtener más información sobre las filiales y las subsidiarias, póngase en contacto con nosotros en <strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7303011a0512100a3311120b0716015d101c1e">[email&#160;protected]</a></strong>.</p>

            <h3>Compartir con terceros que nos ofrecen servicios</h3>

            <p>Compartimos nuestra información personal con terceros que nos ofrecen servicios para ayudarnos con nuestras actividades y funcionalidades comerciales relacionadas con los sitios de Baxter, como albergar nuestros sitios de Baxter, ofrecer servicios de administración y de ayuda al usuario en los sistemas de TI u ofrecer servicios al cliente. Estos terceros se limitan a usar su información personal únicamente para ofrecernos servicios y les exigimos que ofrezcan un nivel adecuado de protección de su información personal. Para obtener más información sobre los proveedores de servicios de Baxter, póngase en contacto con nosotros en <strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4d3d3f243b2c2e340d2f2c3539283f632e2220">[email&#160;protected]</a></strong>.</p>

            <h3>Compartir para otros propósitos</h3>

            <p>También podríamos utilizar su información personal con fines de tratamiento, para garantizar unos altos estándares de calidad y seguridad de la atención sanitaria, nuestros productos sanitarios o dispositivos médicos. También podríamos compartir información personal para cumplir con nuestras obligaciones legales o reguladoras, incluidas, entre otras, nuestras obligaciones relacionadas con notificación de acontecimientos adversos, materiovigilancia, farmacovigilancia, seguridad del producto y otras obligaciones de notificación o en respuesta a requerimientos legales de las autoridades públicas, lo que incluye satisfacer los requisitos de seguridad nacional o de aplicación de la ley (por ejemplo, investigar fraudes o responder a una solicitud gubernamental). También podríamos divulgar su información personal a terceros en caso necesario para investigar posibles incidentes con los datos, o para proteger nuestros derechos, propiedad o seguridad o la de los usuarios de nuestras páginas web o de otros.</p>

            <p>Baxter podría participar en una fusión, adquisición o venta de una parte o todos sus activos (transacción) que incluye su Información Personal. Si Baxter participa en una transacción, se le notificará mediante correo electrónico o un aviso en nuestros sitios web de Baxter de cualquier cambio en la titularidad, usos de su Información Personal y opciones que puede tener respecto a su Información Personal. Baxter no vende a terceros su Información Personal.</p>

            <h2>Características de las redes sociales</h2>

            <p>Las webs de Baxter incluyen enlaces que le conducirán a páginas de redes sociales de Baxter como puede ser Facebook o LinkedIn. Nuestras redes sociales se rigen por la política de privacidad de la empresa que los ofrece.</p>

            <h3>Foros/blogs</h3>

            <p>Algunos de nuestras webs ofrecen blogs o foros de comunidades de disposición pública. Debe saber que dichos blogs o foros de comunidades no los dirige Baxter. Cualquier tipo de información que facilite en estas áreas podría ser leída, recopilada y utilizada por otros que tengan acceso a ellas. Debe consultar los avisos de privacidad de los otros sitios dado que no tenemos control sobre la información que se envía a estos terceros o es recopilada por ellos, y nuestra Declaración de Privacidad no cubre las actividades que se producen en otros sitios web.</p>

            <h2>Enlaces</h2>

            <p>Es posible que nuestras páginas web contengan enlaces a otros sitios web cuyas prácticas relacionadas con la información pueden ser diferentes de las nuestras. Debe consultar los avisos de privacidad de los otros sitios dado que no tenemos control sobre la información que se envía a estos terceros o es recopilada por ellos, y nuestra Declaración de Privacidad no cubre las actividades que se producen en otros sitios web.</p>

            <h2>Transferencias internacionales de su Información Personal</h2>

            <p>Baxter es una empresa mundial y, por tanto, utiliza proveedores y subcontratistas mundiales, así como sistemas y aplicaciones de TI globales. Como consecuencia, la Información Personal que recopilemos sobre usted podría transferirse y guardarse en un destino fuera de su país que podría tener leyes en materia de protección de datos menos estrictas o incluso no tener leyes al respecto, en comparación con las existentes en su país.</p>

            <p>Si está localizado en la Unión Europea/Espacio Económico Europeo (la “UE/EEE”) se aplican los siguientes términos a su Información Personal: Su información personal podría transferirse a nuestras filiales mundiales o a nuestros empleados y contratistas que trabajen con nosotros y se localizan fuera de la UE/EEE para los propósitos descritos en esta Declaración de Privacidad. Si es este el caso, emprenderemos los pasos legales necesarios bajo el Reglamento general de protección de datos (“RGPD”) para garantizar que se establecen las salvaguardas adecuadas (por ejemplo, cláusulas contractuales estándar o certificación del Escudo de privacidad) para proteger su Información Personal de acuerdo con esta Declaración de Privacidad. Puede ponerse en contacto con nosotros en <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ddadafb4abbcbea49dbfbca5a9b8aff3beb2b0">[email&#160;protected]</a>, o en la otra información de contacto que aparece más abajo, para conseguir una copia de las salvaguardas que se han establecido para proteger su Información Personal y los derechos de privacidad cuando su Información Personal se transfiera fuera de la UE/EEE.</p>

            <h2>Escudo de privacidad UE-EE. UU. y Escudo de privacidad Suiza-EE. UU.</h2>

            <p>Baxter y su subsidiaria Baxter Healthcare Corporation participan y han certificado su cumplimiento con el Marco del Escudo de privacidad UE-EE. UU. y el Marco del Escudo de Privacidad Suiza-EE. UU. (conjuntamente “los Marcos del Escudo de privacidad” o “los Marcos”). Baxter y Baxter Healthcare Corporation se comprometen a procesar toda la Información Personal que reciban en los Estados Unidos procedente de países miembros de la UE y de Suiza en cumplimiento con los Marcos del Escudo de privacidad y de acuerdo con los principios aplicables de los Marcos. Para obtener más información sobre los Marcos del escudo de privacidad y para ver los certificados de Baxter y Baxter Healthcare Corporation, visite la Lista del Escudo de privacidad del Departamento de Comercio de los EE. UU. (<a href="http://www.privacyshield.gov/list">www.privacyshield.gov/list</a>).</p>

            <p>Baxter y Baxter Healthcare Corporation son cada uno responsables de procesar la Información Personal que reciben bajo los Marcos del Escudo de privacidad y cualquier Información Personal de ese carácter que transfieran posteriormente a terceros, incluidos los terceros localizados fuera de Estados Unidos. Baxter y Baxter Healthcare Corporation cada uno cumple los Principios del Escudo de privacidad en cuanto a todas las transferencias posteriores de Información Personal con origen en la UE y Suiza, incluidas las disposiciones sobre responsabilidad de transferencias posteriores.</p>

            <p>Con respecto a la Información Personal recibida o transferida en virtud de los Marcos del Escudo de privacidad, Baxter y Baxter Healthcare Corporation cada uno está sujeto a los poderes regulatorios de cumplimiento de la Comisión Federal de Comercio de los EE. UU. En determinadas situaciones, Baxter y Baxter Healthcare Corporation podrán verse obligados a divulgar Información Personal en respuesta a los requerimientos legales de las autoridades públicas, lo que incluye satisfacer los requisitos de seguridad nacional o de aplicación de la ley.</p>

            <p>Las personas que tengan un problema sin resolver en materia de privacidad o uso de datos que crean que Baxter o Baxter Healthcare Corporation no ha resuelto de forma satisfactoria deben ponerse en contacto con nuestro tercero proveedor de resolución de disputas localizado en los EE. UU. (gratuito) en <a href="https://feedback-form.truste.com/watchdog/request">https://feedback-form.truste.com/watchdog/request</a>.</p>

            <p>En determinadas condiciones que se describen con más detalle en el sitio web del Escudo de privacidad, las personas tendrán derecho a solicitar un arbitraje vinculante cuando se hayan agotado otros procedimientos para la resolución de disputas.</p>

            <p>De cumplimiento con los Principios del Marco del Escudo de privacidad, Baxter y Baxter Healthcare Corporation se comprometen a resolver las quejas sobre la recopilación o el uso de Información Personal bajo los Marcos del Escudo de privacidad. Las personas de la UE o Suiza con consultas o quejas en relación al cumplimiento de Baxter o de Baxter Healthcare Corporation con los Marcos del Escudo de privacidad deben ponerse primero en contacto con Baxter mediante la información de contacto que aparece al final de esta Declaración de Privacidad.</p>

            <p>Baxter se ha comprometido además a cooperar con el comité establecido por las Autoridades de Protección de datos de la UE y el Comisario federal suizo de protección de datos e información con respecto a las quejas no resueltas sobre el Escudo de privacidad relativas a datos de recursos humanos transferidos desde la UE y Suiza en el contexto de una relación laboral.</p>

            <h2>Sus derechos</h2>

            <p>En determinadas circunstancias, las leyes de protección de datos de su país y otras leyes y reglamentos determinados (incluido el RGPD) le otorgan derechos con respecto a su Información Personal. Estos derechos varían según el país/región. Estos derechos pueden incluir:</p>

            <ul>
                <li>Si compartimos o usamos su Información Personal basándonos en su consentimiento, puede retirar su consentimiento en cualquier momento. Tenga en cuenta que retirar su consentimiento no afectará a la legalidad de nuestros tratamientos o la divulgación de esa información realizados antes de que retirase su consentimiento.</li>
                <li>Puede solicitar el acceso o copias de su Información Personal, lo que incluye saber si conservamos Información Personal sobre usted y, si es así, qué clase y para qué propósitos. También puede solicitar información sobre quién ha recibido su Información Personal.</li>
                <li>Puede solicitar que corrijamos su Información Personal si cree que es imprecisa o incompleta o solicitar que eliminemos o borremos su Información Personal, a menos que tengamos la obligación legal de guardarla o lo permita de otro modo la ley vigente de retenerla.</li>
                <li>Puede solicitarnos que restrinjamos el procesamiento de su Información Personal y que no la borremos.</li>
                <li>Puede solicitar que le facilitemos su Información Personal que hayamos obtenido de usted según su consentimiento o un contrato de forma que pueda guardarla y reutilizarla para su uso personal, y puede solicitarnos que se la facilitemos a otra entidad.</li>
            </ul><p>Puede ejercer sus derechos accediendo a su perfil de la cuenta de un sitio de Baxter específico, enviando un correo electrónico a <strong><a href="/cdn-cgi/l/email-protection#d1a1a3b8a7b0b2a891b3b0a9a5b4a3ffb2bebc"><span class="__cf_email__" data-cfemail="a4d4d6cdd2c5c7dde4c6c5dcd0c1d68ac7cbc9">[email&#160;protected]</span></a> </strong>o poniéndose en contacto con la Oficina de privacidad global mediante la información de contacto que aparece al final de esta Declaración de Privacidad.</p>

            <p>En algunos países, también tiene derecho a oponerse al uso o la divulgación de su Información Personal para ciertos propósitos, incluso basados en nuestro interés legítimo y para propósitos de venta directa. Puede oponerse en cualquier momento al procesamiento de su Información Personal para propósitos de venta directa y puede hacerlo el “opting-out” u opción de no recibir las comunicaciones de venta o promocionales de acuerdo con las instrucciones de dejar o darse de baja de la suscripción incluidas en la comunicación específica. Si no puede oponerse abandonando de esta forma, envíe un correo electrónico a <strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="59292b302f383a20193b38212d3c2b773a3634">[email&#160;protected]</a></strong> o póngase en contacto con nosotros mediante la información de contacto que aparece más abajo para ejercer su derecho a oponerse. Si tiene preguntas sobre cómo determinamos que el procesamiento es para nuestros intereses legítimos o si desea oponerse a nuestro procesamiento en base a ello, póngase en contacto con nosotros en <strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6313110a1502001a2301021b1706114d000c0e">[email&#160;protected]</a></strong> o utilice la información de contacto que se facilita más abajo. Si cree que estamos usando, divulgando o de otro modo tratando su Información Personal de una manera no conforme con la ley, puede presentar una queja ante una Autoridad de protección de datos en su país.</p>

            <p>Trataremos cualquier solicitud para ejercer sus derechos de acuerdo con la ley vigente. Tenga en cuenta que según las circunstancias, puede que no se puedan ejercer algunos de los derechos anteriores.</p>

            <h2>Conservación de datos</h2>

            <p>Su Información Personal solo se guardará mientras lo consideremos razonablemente necesario para lograr los propósitos establecidos anteriormente o mientras la ley exija que la guardemos. Póngase en contacto con nosotros para conocer más detalles de los periodos de conservación correspondientes.</p>

            <h2>Menores</h2>

            <p>Los sitios web de Baxter no se dirigen a niños menores de <a>14 </a>años y no recopilamos Información Personal conscientemente de niños de menos de 14 años. Si cree que hemos recopilado Información Personal de un niño menor de 13 años, póngase en contacto con nosotros en <strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4232302b3423213b0220233a3627306c212d2f">[email&#160;protected]</a></strong>. Tal y como lo exige la ley, si recopilamos Información Personal de un menor de 13 años o mayor en función de un consentimiento, necesitamos el consentimiento de los padres.</p>

            <h2>Tecnologías de rastreo que utilizamos</h2>

            <p>Los sitios de Baxter utilizan varias tecnologías con el fin de ofrecerle ciertos servicios y funcionalidades de la siguiente forma.</p>

            <h3>Cookies</h3>

            <p>Como muchos sitios web, los sitios de Baxter pueden usar “cookies”. Una cookie es un pequeño archivo que se transmite al disco duro de su ordenador para ayudarnos a mejorar el contenido (p. ej., nos ayuda a determinar qué partes del sitio son populares y cuáles son menos populares, de modo que podamos mejorar esas áreas en el futuro) y personalizar el contenido del sitio web para nuestros visitantes. No combinaremos la información de las cookies con ninguna Información Personal que nos haya enviado. Puede ajustar su navegador para rechazar las cookies y para que le avise de cuándo se va a colocar una cookie en su ordenador.</p>

            <p>Tal como sucede en la mayoría de las páginas web, recopilamos cierta información automáticamente. Esta información puede incluir direcciones de Protocolo de Internet (Internet protocol, IP), tipo de buscador, proveedor de servicios de Internet, páginas de referencia/salida, los archivos que ha visto en nuestro sitio (por ejemplo, páginas HTML, gráficos, etc.), sistema operativo, fecha/hora y o datos de comportamientos de clic para analizar tendencias en conjunto y administrar el sitio. Las direcciones IP y otros datos que recopilamos automáticamente podrían considerarse Información Personal en ciertos países.</p>

            <p>El uso de cookies puede variar con las características exclusivas de los sitios web de Baxter. <a>Por tanto, revise los términos de privacidad individuales del sitio web de Baxter específico que está visitando para obtener cualquier información adicional sobre el uso de cookies por el sitio web de Baxter en particular.</a></p>

            <p>En términos generales, usamos cookies (y otras tecnologías identificadas a continuación) para los siguientes fines:</p>

            <p>· Para proporcionar un servicio: una cookie puede usarse para proporcionarle un servicio específico. Por ejemplo, si está iniciando sesión en una sección de acceso controlado de nuestro sitio, colocamos una cookie de sesión temporal para establecer que se ha autentificado. La información contenida en estas cookies consta de datos al azar que son utilizados por el servidor para autentificar las solicitudes del navegador al servidor para esa sesión en concreto. Si elige no aceptar una cookie temporal, no podrá navegar en estas aplicaciones en línea. También usamos una cookie cuando visita nuestro sitio web y solicita documentación o una respuesta por nuestra parte. Cuando cumplimenta un formulario, es posible que se le dé la opción de hacer que nuestro sitio web envíe una cookie a su disco duro local. Podría elegir recibir este tipo de cookie para ahorrar tiempo al cumplimentar formularios y/o volver a visitar nuestro sitio web. Puede controlar el uso de cookies a nivel individual de buscador, pero si decide deshabilitar las cookies, podría limitar su uso de ciertas características o funciones de nuestra página web o servicio.</p>

            <ul>
                <li>Para facilitar el uso del sitio web: si se utiliza una cookie, nuestro sitio web podrá recordar información sobre sus preferencias y movimiento, hasta que salga de la ventana de su navegador actual (si la cookie es temporal) o hasta que deshabilite o elimine la cookie. Muchos usuarios prefieren usar cookies para que les sirvan de ayuda al navegar por un sitio web con las menores interrupciones posibles.</li>
                <li>Para comprender a nuestros visitantes: cuando visita nuestro sitio, es posible que nuestros ordenadores recopilen automáticamente estadísticas de forma colectiva sobre la conducta de los visitantes. Podemos monitorizar estadísticas y otros datos como cuántas personas visitan nuestro sitio, la dirección IP del usuario, qué páginas visita la gente, de qué dominios proceden nuestros visitantes, qué navegadores usa la gente y cómo se mueven por nuestro sitio web. Usamos estos datos sobre su visita solo para fines de combinarlos. Estas estadísticas se usan para ayudarnos a comprender los intereses de nuestros visitantes y mejorar el contenido y rendimiento de nuestro sitio web.</li>
                <li>Baxter puede ofrecer vídeos incrustados en sus páginas web. Dichos vídeos incrustados los alojan proveedores terceros de vídeos, incluidos entre otros Youtube (Google). Si hace clic en “play” (reproducir) en un vídeo incrustado en una página web de Baxter, el proveedor tercero de vídeos podría considerar que haciendo clic en “play” (reproducir) usted consiente en la utilización de cookies específicas de este proveedor tercero de vídeos.</li>
            </ul><h3>No rastrear</h3>

            <p>Baxter no rastrea a los usuarios de este sitio web a lo largo del tiempo y a través de sitios web de terceros para proporcionar publicidad dirigida y, por tanto, no responde a señales No rastrear (Do Not Track, DNT). Sin embargo, algunos sitios de terceros sí rastrean sus actividades de navegación cuando sirven su contenido, lo que les permite personalizar lo que le presentan.</p>

            <h3>Balizas web</h3>

            <p>Nuestras páginas web contienen imágenes electrónicas (llamadas “gif de píxel único” o “baliza web”, <a>“web beacon” en inglés</a>) que nos permiten contabilizar las visitas a la página o acceder a nuestras cookies. En términos generales, cualquier imagen electrónica visualizada como parte de una página web, incluido un banner publicitario, puede actuar como baliza web. Las balizas web son habitualmente muy pequeñas, de un tamaño de 1 por 1 píxel, archivos similares a los banner, pero su presencia puede verse fácilmente en Internet Explorer haciendo clic en “Ver” y luego en “Código fuente”. Las balizas web son así de pequeñas para no usar el valioso espacio de la pantalla del ordenador que resulta mejor utilizar para mostrar contenido útil. También podemos incluir balizas web en los boletines con formato HTML que contienen gráficos que enviamos a los suscriptores registrados para contabilizar cuántos boletines se han leído. Además, algunas redes publicitarias que incluyen anuncios en nuestros sitios web pueden usar balizas web dentro de sus publicidades en banner claramente visibles. Nuestras balizas web no recopilan, reúnen, monitorizan ni comparten ninguna Información Personal sobre los visitantes de nuestros sitios web. Simplemente se trata de la técnica que utilizamos para recopilar nuestras estadísticas anónimas y colectivas sobre el uso del sitio web.</p>

            <h3>Direcciones IP (protocolo de Internet)</h3>

            <p>Las direcciones de protocolo de Internet (Internet protocol, IP) son identificadores únicos que se asignan automáticamente a todos los ordenadores que se conectan a Internet. Recopilamos la información de dirección IP de cualquier visitante a nuestras páginas web y la registramos únicamente con propósitos administrativos del sistema. Las direcciones IP no se utilizan para identificar. Esta información nos ayuda a preparar información demográfica conjunta y otra información en relación al uso de este sitio y mejorar sus funciones. No vinculamos las direcciones IP a ninguna información que pueda identificarle personalmente.</p>

            <h3>Google Analytics</h3>

            <p>Google Analytics es un elemento de las páginas web de Baxter. Al utilizar cookies, Google Analytics recopila y guarda datos como la hora de la visita, las páginas visitadas, el tiempo dedicado en cada página de los sitios de Baxter, la dirección IP y el tipo de sistema operativo que se utiliza en los dispositivos utilizados para acceder a la página web de Baxter. Si descarga y utiliza un complemento de buscador de Google (disponible aquí: <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>), puede elegir abandonar Google Analytics.</p>

            <h2>Seguridad</h2>

            <p>Hemos establecido medidas de seguridad adecuadas y razonables para proteger frente a la pérdida, el uso indebido y la alteración de cualquier Información Personal que recibamos de usted a través de las páginas web de Baxter. Poseemos estándares de seguridad razonables para proteger la Información Personal que guardamos. Si tiene preguntas acerca de la seguridad de su Información Personal, puede ponerse en contacto con nosotros en <strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1c6c6e756a7d7f655c7e7d6468796e327f7371">[email&#160;protected]</a></strong> o utilizar la información de contacto que aparece a continuación.</p>

            <h2>Cómo presentar una queja</h2>

            <p>Baxter se compromete a asegurar que las reclamaciones y disputas relacionadas con las prácticas de privacidad de Baxter se investiguen y resuelvan. Por este motivo, hemos desarrollado un procedimiento de gestión de reclamaciones sobre privacidad. Es nuestra intención resolver todas las reclamaciones a través de este procedimiento.</p>

            <p>Baxter respeta su privacidad y si ha presentado un problema a Baxter, hemos introducido su asunto en nuestro Proceso de gestión de reclamaciones que está pensado para investigar y adoptar medidas para resolver sus problemas.</p>

            <p>Las preguntas o quejas en materia de privacidad pueden presentarse a Baxter por correo electrónico, teléfono o correo postal utilizando la información de contacto que aparece al final de esta Declaración de Privacidad.</p>

            <p>Reconocemos, sin embargo, que puede haber ocasiones en que la resolución a través de nuestros procedimientos internos no pueda alcanzarse, o en las que los reclamantes puedan desear aprovechar mecanismos de resolución de disputas alternativos. Puede plantear su problema:</p>

            <p>1. En línea visitando <a href="https://feedback-form.truste.com/watchdog/request">https://feedback-form.truste.com/watchdog/request</a></p>

            <p>2. Por fax o correo postal visitando <a href="https://www.truste.com/about-TRUSTe/contact-us/">https://www.truste.com/about-TRUSTe/contact-us/</a></p>

            <p>El proceso de resolución de disputas se realizará en inglés.</p>

            <h2>Información de contacto</h2>

            <p>Si tiene preguntas o dudas en cuanto a esta Declaración de Privacidad, nuestras prácticas de tratamiento de la información, o cualquier otro aspecto de la privacidad y seguridad de su Información Personal, póngase en contacto con nosotros en <strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4b3b39223d2a28320b292a333f2e396528242665">[email&#160;protected]</a></strong></p>

            <p>También puede enviar un correo electrónico a nuestro delegado de protección de datos a <a href="/cdn-cgi/l/email-protection#9eeeecf7e8fffde7defcffe6eafbecb0fdf1f3"><span class="__cf_email__" data-cfemail="dfafadb6a9bebca69fbdbea7abbaadf1bcb0b2">[email&#160;protected]</span></a> o enviar un fax al 224-948-2876, mediante nuestra Línea abierta de Ética y Cumplimiento al 1-844-294-5418 o mediante un correo a Baxter International Inc., ATTN: Chief Privacy Officer/Data Protection Officer, Global Privacy Office, 1 Baxter Parkway, Deerfield, IL EE. UU. 60015.</p>

            <p>También puede ponerse en contacto con nosotros en <strong>Parque Empresarial San Fernando, Edificio Londres, Avenida De Castilla, 2, 28830 San Fernando de Henares (Madrid), teléfono +34 91 678 93 00 y correo electrónico <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5637223338353f393809353a3f33382233251634372e2233247835393b78">[email&#160;protected]</a></strong></p>

            <h2>Cambios a esta Declaración sobre la privacidad</h2>

            <p>Podremos actualizar periódicamente esta Declaración de Privacidad para describir nuevas características del Sitio web, productos o servicios que ofrecemos y cómo pueden afectar al uso que hacemos de la información sobre usted. Si realizamos cambios sustanciales a esta Declaración de Privacidad, publicaremos un aviso en este Sitio web antes de que el cambio entre en vigor. Le alentamos a revisar periódicamente esta página para conocer la última información sobre nuestras prácticas de privacidad. No haremos ningún uso sustancialmente diferente o ninguna nueva divulgación de su Información Personal a otra entidad utilizando su Información Personal para los fines propios de esa entidad, a menos que se lo notifiquemos a usted y le brindemos la oportunidad de oponerse.</p>

        </div>

    </div>
</section>
