@model IEnumerable<WebResumen.Models.MaestroAutoclave>


@{
    ViewData["Title"] = "Ciclos AutoClaves";
}

@{
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
}





<div class="text-center">
    <h1 class="">Autoclaves Baxter Sabiñánigo</h1>


</div>

@*You will be auto logged out in <span id="SecondsUntilExpire"></span> seconds.*@



<div class="fullscreen-spinner" ng-show="loading">
    <img src="~/img/spinner.gif" alt="spinner logo" />
</div>
<body ng-app="datatablesHomeApp" ng-controller="homeCtrl">




    <div class="row mb-2">
        <div class="col-md-6">
            <h4 class="text-center font-weight-bold">SABI I</h4>
            <table class="table table-sm  ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">EstadoServicio</th>
                        <th scope="col">Ciclo</th>
                        <th scope="col">FechaHora</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>{{na}}</td>
                        <td><h5 class="" ng-class="ea ? ' text-success' : ' text-danger'">{{ea ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="ea ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ea ? '' : ''}}</i></td>*@
                        <td>{{a}}</td>
                        <td><div class="spinner-border text-primary" role="status" ng-show="loadinga"><span class="sr-only">Loading...</span></div>{{horaA}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{na}}"> Ver  </a></td>

                    </tr>
                    <tr>

                        <td>{{nb}}</td>
                        <td><h5 class="" ng-class="eb ? ' text-success' : ' text-danger'">{{eb ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="eb ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{eb ? '' : ''}}</i></td>*@
                        <td>{{b}}</td>
                        <td><div class="spinner-border text-primary" role="status" ng-show="loadingb"><span class="sr-only">Loading...</span></div>{{horaB}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{nb}}"> Ver  </a></td>


                    </tr>
                    <tr>

                        <td>{{nc}}</td>
                        <td><h5 class="" ng-class="ec ? ' text-success' : ' text-danger'">{{ec ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="ec ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ec ? '' : ''}}</i></td>*@
                        <td>{{c}}</td>
                        <td><div class="spinner-border text-primary" role="status" ng-show="loadingc"><span class="sr-only">Loading...</span></div>{{horaC}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{nc}}"> Ver  </a></td>


                    </tr>
                    <tr>

                        <td>{{nd}}</td>
                        <td><h5 class="" ng-class="ed ? ' text-success' : ' text-danger'">{{ed ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="ed ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ed ? '' : ''}}</i></td>*@
                        <td>{{d}}</td>
                        <td><div class="spinner-border text-primary" role="status" ng-show="loadingd"><span class="sr-only">Loading...</span></div>{{horaD}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{nd}}"> Ver  </a></td>


                    </tr>
                    <tr>

                        <td>{{ne}}</td>
                        <td><h5 class="" ng-class="ee ? ' text-success' : ' text-danger'">{{ee ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="ee ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ee ? '' : ''}}</i></td>*@
                        <td>{{e}}</td>
                        <td><div class="spinner-border text-primary" role="status" ng-show="loadinge"><span class="sr-only">Loading...</span></div>{{horaE}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{ne}}"> Ver  </a></td>


                    </tr>
                    <tr>

                        <td>{{nf}}</td>
                        <td><h5 class="" ng-class="ef ? ' text-success' : ' text-danger'">{{ef ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="ef ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ef ? '' : ''}}</i></td>*@
                        <td>{{f}}</td>
                        <td><div class="spinner-border text-primary" role="status" ng-show="loadingf"><span class="sr-only">Loading...</span></div>{{horaF}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{nf}}"> Ver  </a></td>


                    </tr>
                    <tr>

                        <td>{{ng}}</td>
                        <td><h5 class="" ng-class="eg ? ' text-success' : ' text-danger'">{{eg ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="eg ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{eg ? '' : ''}}</i></td>*@
                        <td>{{g}}</td>
                        <td><div class="spinner-border text-primary" role="status" ng-show="loadingg"><span class="sr-only">Loading...</span></div>{{horaG}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{ng}}"> Ver  </a></td>

                    </tr>
                    <tr>

                        <td>{{nh}}</td>
                        <td><h5 class="" ng-class="eh ? ' text-success' : ' text-danger'">{{eh ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="eh ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{eh ? '' : ''}}</i></td>*@
                        <td>{{h}}</td>
                        <td><div class="spinner-border text-primary" role="status" ng-show="loadingh"><span class="sr-only">Loading...</span></div>{{horaH}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{nh}}"> Ver  </a></td>


                    </tr>
                    <tr>

                        <td>{{ni}}</td>
                        <td><h5 class="" ng-class="ei ? ' text-success' : ' text-danger'">{{ei ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="ei ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ei ? '' : ''}}</i></td>*@
                        <td>{{i}}</td>
                        <td><div class="spinner-border text-primary" role="status" ng-show="loadingi"><span class="sr-only">Loading...</span></div>{{horaI}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{ni}}"> Ver  </a></td>


                    </tr>
                    <tr>

                        <td>{{nm}}</td>
                        <td><h5 class="" ng-class="em ? ' text-success' : ' text-danger'">{{em ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="em ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{em ? '' : ''}}</i></td>*@
                        <td>{{m}}</td>
                        <td><div class="spinner-border text-primary" role="status" ng-show="loadingm"><span class="sr-only">Loading...</span></div>{{horaM}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{nm}}"> Ver  </a></td>


                    </tr>


                </tbody>
            </table>
        </div>


        <div class="col-md-6">
            <h4 class="text-center font-weight-bold">SABI II</h4>
            <table class="table table-sm ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">EstadoServicio</th>
                        <th scope="col">Ciclo</th>
                        <th scope="col">FechaHora</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>{{nj}}</td>
                        <td><h5 class="" ng-class="ej ? ' text-success' : ' text-danger'">{{ej ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="ej ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ej ? '' : ''}}</i></td>*@
                        <td>{{j}}</td>
                        <td>{{horaJ}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{nj}}"> Ver  </a></td>


                    </tr>
                    <tr>

                        <td>{{nk}}</td>
                        <td><h5 class="" ng-class="ek ? ' text-success' : ' text-danger'">{{ek ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="ek ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ek ? '' : ''}}</i></td>*@
                        <td>{{k}}</td>
                        <td>{{horaK}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{nk}}"> Ver  </a></td>



                    </tr>
                    <tr>

                        <td>{{nl}}</td>
                        <td><h5 class="" ng-class="el ? ' text-success' : ' text-danger'">{{el ? 'Activo' : 'Inactivo'}}</h5></td>
                        @*<td><i class="fa fa-2x" ng-class="el ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{el ? '' : ''}}</i></td>*@
                        <td>{{l}}</td>
                        <td>{{horaL}}</td>
                        <td><a type="button" class="btn btn-info btn-sm" href="{{nl}}"> Ver  </a></td>


                    </tr>


                </tbody>
            </table>
        </div>
    </div>































































































































    @*<table class="table table-bordered ">
            <thead style="background-color:lightblue;">
                <tr>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Ciclo</th>
                    <th>FechaHora</th>
                    <th>Acciones</th>


                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in myWelcome | filter:search">

                    <td> {{item.nombre}}</td>
                    <td> {{item.estado}}</td>
                    <td> {{item.ultimoCiclo}}</td>




                    <td style="width:200px;">

                        <button href="#" type="button" data-toggle="modal" data-target="#exampleModal" value="submit" class="btn btn-info">Ver</button>


                    </td>
                </tr>
            </tbody>
        </table>*@

    @*<div class="card-group">
            <div class="card">

                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="ea ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ea ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveA.png" alt="Card image cap">
                    <a href="{{na}}">   <h3 class="card-title">{{na}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{a}}</h5>
                    <h5><i class="" ng-class="ea ? ' text-success' : ' text-danger'">{{ea ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="eb ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{eb ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveB.png" alt="Card image cap">
                    <a href="{{nb}}">   <h3 class="card-title">{{nb}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{b}}</h5>
                    <h5><i class="" ng-class="eb ? ' text-success' : ' text-danger'">{{eb ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="ec ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ec ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveC.png" alt="Card image cap">
                    <a href="{{nc}}">   <h3 class="card-title">{{nc}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{c}}</h5>
                    <h5><i class="" ng-class="ec ? ' text-success' : ' text-danger'">{{ec ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="ed ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ed ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveD.png" alt="Card image cap">
                    <a href="{{nd}}">   <h3 class="card-title">{{nd}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{d}}</h5>
                    <h5><i class="" ng-class="ed ? ' text-success' : ' text-danger'">{{ed ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="ee ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ee ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveE.png" alt="Card image cap">
                    <a href="{{ne}}">   <h3 class="card-title">{{ne}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{e}}</h5>
                    <h5><i class="" ng-class="ee ? ' text-success' : ' text-danger'">{{ee ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="ef ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ef ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveF.png" alt="Card image cap">
                    <a href="{{nf}}">   <h3 class="card-title">{{nf}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{f}}</h5>
                    <h5><i class="" ng-class="ef ? ' text-success' : ' text-danger'">{{ef ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="eg ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{eg ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveG.png" alt="Card image cap">
                    <a href="{{ng}}">   <h3 class="card-title">{{ng}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{g}}</h5>
                    <h5><i class="" ng-class="eg ? ' text-success' : ' text-danger'">{{eg ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
        </div>


        <div class="card-group">

            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="eh ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{eh ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveH.png" alt="Card image cap">
                    <a href="{{nh}}">   <h3 class="card-title">{{nh}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{h}}</h5>
                    <h5><i class="" ng-class="eh ? ' text-success' : ' text-danger'">{{eh ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="ei ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ei ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveI.png" alt="Card image cap">
                    <a href="{{ni}}">   <h3 class="card-title">{{ni}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{i}}</h5>
                    <h5><i class="" ng-class="ei ? ' text-success' : ' text-danger'">{{ei ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="ej ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ej ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveJ.png" alt="Card image cap">
                    <a href="{{nj}}">   <h3 class="card-title">{{nj}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{j}}</h5>
                    <h5><i class="" ng-class="ej ? ' text-success' : ' text-danger'">{{ej ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="ek ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{ek ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveK.png" alt="Card image cap">
                    <a href="{{nk}}">   <h3 class="card-title">{{nk}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{k}}</h5>
                    <h5><i class="" ng-class="ek ? ' text-success' : ' text-danger'">{{ek ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="el ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{el ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveL.png" alt="Card image cap">
                    <a href="{{nl}}">   <h3 class="card-title">{{nl}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{l}}</h5>
                    <h5><i class="" ng-class="el ? ' text-success' : ' text-danger'">{{el ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-2x" ng-class="em ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{em ? '' : ''}}</i></h5>
                    <img class="card-img-top" src="~/img/AutoclaveM.png" alt="Card image cap">
                    <a href="{{nm}}">   <h3 class="card-title">{{nm}}</h3></a>
                    <h5 class="card-title text-dark">Ciclo: {{m}}</h5>
                    <h5><i class="" ng-class="em ? ' text-success' : ' text-danger'">{{em ? 'Activo' : 'Inactivo'}}</i></h5>

                </div>
            </div>


        </div>*@











    @*<table datatable class="cell-border thead-dark table table-striped table-bordered "
               dt-options="dtOptions"
               dt-columns="dtColumns">
        </table>*@

    <!--<div class="spinner-border text-primary" role="status" ng-show="loading"></div>
    <div ng-repeat="x in myWelcome " style="width: 12rem; text-align:left;display:inline-flex;flex-wrap: nowrap;">

        <div class="card">
            <a href="{{x.nombre}}"> </a>
            <div class="card-body">
                <h5><i class="fa fa-2x" ng-class="x.estado ? 'fa fa-cog fa-spin fa-2x fa-fw text-success' : 'fa fa-cog fa-2x text-danger'">{{x.estado ? '' : ''}}</i></h5>

                <img class="card-img-top" src="~/img/{{x.nombre}}.png" alt="Card image cap">-->
    @*<img class="card-img-top" ng-class="x.estado ? 'sky' : 'tomato'"></img>*@
    <!--<a href="{{x.nombre}}">   <h3 class="card-title">{{x.nombre}}</h3></a>
            <h5 class="card-title text-dark">Ciclo: {{ix.ultimoCiclo)}}</h5>

            <h5><i class="" ng-class="x.estado ? ' text-success' : ' text-danger'">{{x.estado ? 'Activo' : 'Inactivo'}}</i></h5>






        </div>
    </div>-->
    @*</div>*@



</body>



