@model IEnumerable<WebResumen.Models.CiclosAutoclaves>

@{
    ViewData["Title"] = "Confirmación de Impresion";
}

@{
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
}


<tbody>

    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor httpContextAccessor
    @*<h1>@httpContextAccessor.HttpContext.Session.GetString("SessionDatosC")</h1>*@


    <a type="button" class="btn btn-success" asp-action="Print" asp-route-id="@httpContextAccessor.HttpContext.Session.GetString("SessionDatosD")">Imprimir</a>


</tbody>

