@model IEnumerable<WebResumen.Models.CiclosAutoclaves>

@{
    ViewData["Title"] = "AutoClaves de Agua";
}



<body ng-app="datatablesAguaApp" ng-controller="aguaCtrl">

    @*Name :
        <input ng-model="name" />
        <br />
        <br />



        <input type="submit" value="Send" ng-click="name" />
        <br />
        <br />*@

   


        <table datatable class="cell-border thead-dark table table-striped table-bordered "
               dt-options="dtOptions"
               dt-columns="dtColumns">
        </table>
</body>













@*<div class="container-fluid">
        <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered  " cellspacing="0" style="width:150%">
            <thead>
                <tr>

                    <th>ID Autoclave</th>
                    <th>Nº Carro                  </th>
                    <th>Nº Progesivo</th>
                    <th>Nº Programa</th>
                    <th>Código Producto</th>
                    <th>Nº de lote</th>
                    <th>Hora Comienzo </th>
                    <th>Hora Fin </th>
                    <th>Tiempo F1</th>
                    <th>Tiempo F2</th>
                    <th>Tiempo F3</th>
                    <th>Tiempo F4</th>
                    <th>Tiempo F5</th>
                    <th>Presión final F5</th>
                    <th>Tiempo F6</th>
                    <th>Presión Inicial F6</th>
                    <th>TE2 F6I</th>
                    <th>TE3 F6I</th>
                    <th>TE4 F6I</th>
                    <th>Presión Final F6</th>
                    <th>TE2 F6F</th>
                    <th>TE3 F6F</th>
                    <th>TE4 F6F</th>
                    <th>TE2Fo F6</th>
                    <th>TE3Fo F6</th>
                    <th>TE4Fo F6</th>
                    <th>Tmínima de esterilización</th>
                    <th>Tmáxima de esterilización</th>
                    <th>Tiempo F7</th>
                    <th>Presión Final F7</th>
                    <th>Tiempo F8</th>
                    <th>Tiempo F9</th>
                    <th>Tiempo F10</th>
                    <th>Tiempo F11</th>
                    <th>Tiempo F12</th>
                    <th>T.TOTAL</th>
                    <th>T.TOTAL CALCULADO</th>
                    <th>TE2Fo F13</th>
                    <th>TE3Fo F13</th>
                    <th>TE4Fo F13</th>
                    <th>DIF FoMax-FoMin</th>


                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>*@















