@model WebResumen.Models.ViewModels.DoubleLoginViewModel

@{
    ViewData["Title"] = "Confirmación de Impresion";
}

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@if (TempData["Fail"] != null)
{

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@TempData["Fail"].ToString()!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}

<a class="float-right mr-5" asp-area="" asp-controller="AutoClaveI" asp-action="Index"><i class="fa fa-chevron-circle-left" style="font-size:48px;color:darkblue"></i></a>

<div class="container justify-content-center mt-5">
    <h5 class="justify-content-center">Login de Usuario</h5>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Usuario"></label>
                    <input asp-for="Usuario" class="form-control bg-light" value="@httpContextAccessor.HttpContext.Session.GetString("SessionUser")" readonly />
                    <span asp-validation-for="Usuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contraseña"></label>
                    <input asp-for="Contraseña" class="form-control" />
                    <span asp-validation-for="Contraseña" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Comentario"></label>*@
                    <label>Motivo de la Reimpresión</label>
                    <input asp-for="Comentario" class="form-control" />
                    <span asp-validation-for="Comentario" class="text-danger"></span>
                </div>
                <div class="form-group">

                    @*<input asp-for="Dato" class="form-control" value="@ViewBag.datos" type="hidden" />*@
                    <input asp-for="Dato" class="form-control" value="@httpContextAccessor.HttpContext.Session.GetString("SessionDatosI")" type="hidden" />


                </div>
                <button type="submit" class="btn btn-primary">Acceder</button>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}