@model IEnumerable<WebResumen.Models.CiclosAutoclaves>

@{
    ViewData["Title"] = "Confirmación de Impresion";
}

@{
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
}


<tbody>

    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor httpContextAccessor
    @using Microsoft.AspNetCore.Authorization
    @inject IAuthorizationService AuthorizationService
    @*<a type="button" class="btn btn-success" asp-action="Print" asp-route-id="@httpContextAccessor.HttpContext.Session.GetString("SessionDatosI")">Imprimir</a>*@

    @if ((await AuthorizationService.AuthorizeAsync(User, "Users")).Succeeded)
    {

        <a type="button" class="btn btn-success" asp-action="Print" asp-route-id="@httpContextAccessor.HttpContext.Session.GetString("SessionDatosI")">Imprimir</a>


    }
    else
    {

        <a type="button" class="btn btn-success" asp-action="PrintAS" asp-route-id="@httpContextAccessor.HttpContext.Session.GetString("SessionDatosI")">Imprimir</a>


    }


</tbody>

